# Supabase / PostgreSQL
DATABASE_URL=postgresql://postgres:%24Admin_%24Password@db.mwcfylkcoysmvzzktoim.supabase.co:5432/postgres

# JWT
JWT_SECRET=Barb3r14_JWT_S3cr3t_2026
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:5173